$taskBorder: 1px solid #fcfcfc;

.task {
  // border: $taskBorder;
  // border-radius: 4px;
  width: 100%;
  overflow: hidden;
  margin: 15px 0;
  // padding: 5px;
  &--small {
    height: 70px;

    &:hover {
      height: 100%;
    }
  }
  &__header {
    display: flex;
    align-items: center;
  }
  &__name {
    margin-left: 30px;
    flex: 1;
    font-size: 20px;
  }
  &__name--medium {
    color: #ffff00;
  }
  &__name--high {
    color: #ff0000;
  }
  &__edit {
    align-self: flex-end;
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;

    &--display {
      display: none;
    }
  }
  &__remove {
    align-self: flex-end;
    font-size: 30px;
    // margin: 0 10px 0 15px;
    margin-left: 15px;
    cursor: pointer;
  }
  &__descrition {
    padding: 10px;
    // border-top: $taskBorder;
    border-bottom: $taskBorder;
    min-height: 150px;
  }
  &__comments {
    // padding: 10px 0;
    // border-bottom: $taskBorder;

    > p {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      // margin-right: 10px;

      > a {
        font-size: 15px;
        text-decoration: none;
        color: #000000;
      }
    }

    &-list {
      > ul {
        list-style: none;
        margin: 0;

        > li {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;

    .task__done {
      color: #ff0000;
      font-weight: 500;
    }
  }
}
