$popupBackground: #333333;

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(10, 10, 10, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 99;

  &-show {
    display: block;
  }
}
.add-task {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  width: 100%;
  height: 500px;
  background: #ffffff;
  padding: 20px;
  border-radius: 4px;

  > h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    transform: rotate(45deg);
  }

  label {
    font-size: 14px;
  }

  &__text {
    width: 100%;
    padding: 5px;
    margin: 0 0 15px 0;
  }

  &__description {
    width: 100%;
    height: 120px;
    resize: none;
    margin-bottom: 15px;
  }

  &__radio {
    margin: 0px 5px 0px 0px;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
  }
}
