.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(10, 10, 10, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 99;

  &-show {
    display: block;
  }
}

form label {
  width: 100%;
  font-size: 14px;
}

.add-task {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;
  min-height: 500px;
  background: #ffffff;
  padding: 20px;
  border-radius: 4px;

  > h3 {
    text-align: center;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
  }

  &__text {
    width: 100%;
    padding: 5px;
    margin: 0 0 5px 0;
  }

  &__description {
    width: 100%;
    height: 120px;
    resize: none;
    margin-bottom: 5px;
    padding: 5px;
  }

  &__radio {
    margin: 0 3px 0 0;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    margin: 15px 0 10px;
  }
}
