.task {
  border: 1px solid #cccccc;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
}
.task__header {
  display: flex;
  align-items: center;
}
.task__name {
  margin-left: 30px;
  flex: 2;
  font-size: 20px;
}
.task__edit {
  align-self: flex-end;
  margin-bottom: 11px;
  font-size: 18px;
  cursor: pointer;
}
.task__remove {
  align-self: flex-end;
  font-size: 30px;
  margin: 0px 10px 0 15px;
  transform: rotate(45deg);
  cursor: pointer;
}
.task__descrition {
  padding: 10px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  min-height: 150px;
}
.task__footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
